groupDefs:
  AllSaami: ["Saami.WGA", "Finland_Saami_Modern.SG"]

fstats:
- type: F4
  a: ["Spanish", "Italian_North", "Greek", "Albanian", "Bulgarian", "French", "Croatian", "English", "Hungarian", "Czech", "Ukrainian", "Belarusian", "Estonian", "Mordovian", "Russian", "Finnish", "AllSaami", "Finland_Levanluhta", "Finland_Levanluhta_B", "Russia_Bolshoy", "Russia_Chalmny_Varre"]
  b: ["Lithuanian"]
  c: ["Nganasan"]
  d: ["Mbuti"]
